@use 'global' as *;

.medical-subpage__category{
  margin-top: rem(66);
  @include mq('md') {
    margin-top: rem(83);
  }
}

.medical-subpage__detail{
  margin-top: rem(178);
  @include mq('md') {
     margin-top: rem(358);
  }
}
.medical-subpage__content:not(:first-child){
  margin-top: rem(205);
  @include mq('md') {
     margin-top: rem(455);
  }
}

.medical-subpage__footer-info{
  margin-top: rem(160);
  @include mq('md') {
    margin-top: rem(280);
  }
}