@use 'global' as *;

.staff-sub-page__greeting{
  margin-top: rem(60);
  @include mq('md') {
    margin-top: rem(84);
  }
}

.staff-sub-page__footer-info{
  margin-top: rem(128);
  @include mq('md') {
    margin-top: rem(180);
  }
}

.staff-sub-page__slide {
  margin-top: rem(98);
  @include mq('md') {
    margin-top: rem(160);
  }
}

.staff-sub-page__introduction{
margin-top: rem(100);
@include mq('md') {
margin-top: rem(165);
}
}